.third-content {
  position: relative;
  width: 1080px;
  height: calc(100% - 190px - 285px);
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.contrast-third-content {
  position: relative;
  width: 1080px;
  height: calc(100% - 190px - 285px);
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: black;
}

.third-up-content {
  width: 100%;
  height: 238px;
  font-weight: 600;
  font-size: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contrast-third-up-content {
  width: 100%;
  height: 238px;
  font-weight: 600;
  font-size: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.third-middle-content {
  width: 100%;
  height: 80px;
  background-color: #757575;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contrast-third-middle-content {
  width: 100%;
  height: 80px;
  background-color: #252525;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.third-main-content {
  width: 100%;
  height: 1127px;
  padding: 30px 75px;
}

.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 157px;
}

.row-line {
  width: 906px;
  height: 1px;
  background-color: lightgray;
}

.order-index {
  width: 43px;
  height: 43px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.order-image-div {
  position: relative;
  width: 105px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}

.contrast-order-image-div {
  position: relative;
  width: 105px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  background: white;
}

.order-image {
  width: 40px;
  height: 80px;
}

.order-name {
  position: absolute;
  left: 220px;
  width: 190px;
  word-break: keep-all;
  font-size: 4rem;
}

.contrast-order-name {
  position: absolute;
  left: 220px;
  width: 190px;
  word-break: keep-all;
  font-size: 4rem;
  color: white;
}

.order-quantity {
  position: absolute;
  left: 450px;
  display: flex;
  align-items: center;
}

.qty-btn {
  width: 75px;
  height: 73px;
  background-color: #d2d2d2;
  border: none;
  border-radius: 5px;
  font-size: 4rem;
  color: #4c4c4c;
  cursor: pointer;
}

.contrast-qty-btn {
  width: 75px;
  height: 73px;
  background-color: black;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 4rem;
  color: white;
  cursor: pointer;
}

.qty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-align: center;
  border: none;
  width: 75px;
  height: 73px;
}

.contrast-qty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-align: center;
  border: 1px solid lightgray;
  width: 75px;
  height: 73px;
  color: #ffe101;
  background: #252525;
}

.order-price {
  position: absolute;
  left: 720px;
  color: #1f1f1f;
  font-size: 4rem;
  margin-left: 10px;
  min-width: 80px;
  text-align: right;
}

.contrast-order-price {
  position: absolute;
  left: 720px;
  color: white;
  font-size: 4rem;
  margin-left: 10px;
  min-width: 80px;
  text-align: right;
}

.delete-btn {
  left: 910px;
  position: absolute;
  width: 73px;
  height: 73px;
  cursor: pointer;
}

/* 페이지네이션 */
.pagination {
  position:absolute;
  bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.contrast-pagination {
  position:absolute;
  bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  width: 184px;
  height: 64px;
  background-color: white;
  color: black;
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: e5e5e5;
  border: 1px solid gray;
  cursor: not-allowed;
}

.contrast-pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  width: 184px;
  height: 64px;
  background-color: black;
  color: #757575;
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contrast-pagination button:disabled {
  background-color: e5e5e5;
  border: 1px solid gray;
  cursor: not-allowed;
}
